.App{
  background-color: #4a3a5c;
  opacity: 0.9;
  min-height:600px;
  width: 400px;
  margin: 40px auto;
  text-align: left;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
      
.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}
.completedTask {
  text-decoration: line-through;
}
