body {
  margin: 0;
  background-image: url("./components/media/stunning-purple-backgrounds.jpg");
  background-size: cover;
  color: rgb(250, 219, 229);
  font-family: curasive;
}

  @media only screen and (max-width: 1400px) {
     body {
      background-image: url("./components/media/stunning-purple-backgrounds.jpg");
      background-size: cover;
       color: whitesmoke
     }
    }
     @media only screen and (max-width: 1200px) {
       body {
        background-image: url("./components/media/redgalaxy.jpg");
        background-size: cover;
         color: whitesmoke
       }
     }
    
    @media only screen and (max-width: 800px) {
       body {
        background-image: url("./components/media/paintpour2.jpg"); 
        background-size: cover;
         color: whitesmoke
         
       }
     }
     
     @media only screen and (max-width: 400px) {
       body {
         background-image: url("./components/media/purpleflowers.jpg");
         background-size: cover;
         color: whitesmoke
       }
     }

 /* .code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
     monospace; */
 
 .navbar {
   height: 40px;
    background-color: rgb(1, 146, 146);
   margin-bottom: 15px;
   text-align: left;
   font-size: 18px;
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: cursive;
   font-style: oblique;
 
 }
 .taskRow {
   padding-top: 20px;
   padding-bottom: 10px;
   border-top: 2px solid grey;
 }
 h1 {
   font-size: 40px;
   font-style: bold;
   font-weight: 400px;
   text-align: center;
 }

 h5 {
  font-size: 16px;

 }
 h6 {
   font-style: italic;
   text-align: right;
 }